<!DOCTYPE html>
<html>
<body>
    <p>You are receiving this because you have requested the reset of the password for your account.</p>
    <p>Please click on the following link, or paste this into your browser to complete the process:</p>
    <a href="<%= resetUrl %>"><%= resetUrl %></a>
    <p>This link will expire in 10 minutes.</p>
</body>
</html>