<!DOCTYPE html>
<html>
<body>
    <p>Hi <%= recruiterName %>,</p>
    <p>Hope you are doing good!!!</p>
    <p>We have received a new requirement from the <%= departmentName %> department for the position of <%= positionName %>. Kindly start working on this position.</p>
    <p>Please update the same in the following job portals and refresh the same on every Friday afternoon until the position is closed.</p>
    <ul>
        <li>Naukri</li>
        <li>Prathidhwani</li>
        <li>Company website</li>
        <li>Infopark website</li>
        <li>Technopark website</li>
        <li>Talent.com</li>
        <li>LinkedIn</li>
    </ul>
    <p>You are expected to update the following trackers and folders before starting the interview process.</p>
    <ul>
        <li>JD repository folder</li>
        <li>JD List sheet</li>
        <li>Interview Process sheet</li>
        <li>Interview Feedback Tracker</li>
    </ul>
</body>
</html>