<!DOCTYPE html>
<html>
<body>
    <p>Hi <%= hrbpName %>,</p>
    <br>
    <p>This is to inform you that the recruitment process for the position of <strong><%= positionName %></strong> (Job Code: <%= jobCode %>) has been marked as 'completed' by the assigned recruiter, <%= recruiterName %>.</p>
    <br>
    <p>You can now review the requisition and close it.</p>
</body>
</html>