<!DOCTYPE html>
<html>
<body>
    <p>Hi <%= recruiterName %>,</p>
    <p>Hope you are doing good!!!</p>
    <p>A People Requisition from the <%= departmentName %> department for the position of <%= positionName %> has been assigned to you.</p>
    <p>Kindly start working on this position.</p>
</body>
</html>